name: 'Localization deploy'
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v2.0.105

      - name: Create deployment
        uses: chrnorm/deployment-action@releases/v1
        id: create_deploy
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          description: Production
          environment: production

      - name: Deploy
        uses: BetaHuhn/do-spaces-action@v2
        with:
          access_key: ${{ secrets.AWS_ACCESS_KEY }}
          secret_key: ${{ secrets.AWS_SECRET_KEY }}
          space_name: ${{ secrets.BUCKET_NAME }}
          space_region: ${{ secrets.BUCKET_REGION }}
          source: localization
          out_dir: test

      - name: Update deployment status 
        uses: chrnorm/deployment-status@releases/v1
        if: success()
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          state: 'success'
          deployment_id: ${{ steps.create_deploy.outputs.deployment_id }}
        
