name: 'XML Validation'
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Validate language files
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Checkout
        run: |
          git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*
      
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.10.7
      
      - name: Install dependencies
        run: |
          pip install -r ./scripts/ci/validation/requirements.txt

      - name: Run validation script
        run: |
          python3 ./scripts/ci/validation/localization_validation.py